@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"]::placeholder{
    font-family: Ubuntu, sans-serif;
    font-size: 1.875rem;
    color:#6B7280;
    font-weight: lighter;
    text-align: right;
    opacity: 100;
}
input[type="text"]:focus::placeholder{
    opacity: 0;
}